*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 25px;
}

.icon-logo {
    width: auto;
    height: 45px;
}

.vertical-center {
    display: flex;
    flex-direction: column;
}

.vertical-center > * {
    display: flex;
    align-items: center;
    height: 100%;
}

select {
    background: #f9f9f9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: lightgrey;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgrey;
}

.down-arrow::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../img/icons/down-arrow.png");
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#loader {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(172, 172, 172, 0.3);
    z-index: 1000;
}

#loader img {
    display: block;
    margin: auto;
    vertical-align: middle;
}

.up-arrow::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../img/icons/up-arrow.png");
}

.navbar {
    background: rgba(196, 196, 196, 0.5);
    margin-top: 0;
}

.pagination {
    margin-bottom: 40px;
}

.pagination a {
    background: white;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
    display: inline-block;
    margin: auto;
}

.pagination #pagination-next,
.pagination #pagination-prev {
    transform: scale(1.1);
    transition: 1s, ease-in-out;
    font-weight: bolder;
}

/*--- --- BLOG --- --- --- BLOG --- --- BLOG --- --- BLOG --- --- BLOG --- */

#blog {
    background: #DEDEDE;
    height: 100%;
}

#blog .container {

}

.blog-article {
    background: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: calc(100% - 20px);
}

.blog-article .preview-article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-article .preview-article-name {
    font-weight: bold;
    margin-bottom: 15px;
}

.blog-article .preview-article-date {
    font-size: 12px;
}

.blog-article .preview-article-description {
    line-height: normal;
    font-size: 16px;
}

.blog-article .preview-article-read-more {
    text-decoration: underline;
    color: black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.blog-article .preview-article-read-more:hover {
    font-weight: bolder;
}

.blog-article.full-article {
    height: 75vh;
    margin-bottom: 20vh;
    padding: 30px 60px;
    overflow: auto;
}

.back-icon {
    width: 40px;
    height: 40px;
    background: white;
    padding: 7px;
    border-radius: 50%;
    margin: 5px;
}

.add-icon::before {
    background-image: url("../img/icons/add.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    background-size: contain;
}

#add-blog {
    cursor: pointer;
}

#add-blog:hover {
    text-decoration: underline;
}

#article-image {
    width: 40%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}


#articles {
    overflow: auto !important;
    padding-bottom: 40px;
    max-height: 100%;
}

#articles .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#articles .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.back-icon:hover {
    transform: scale(1.1);
    transition: 1.5s, ease-in-out;
}

#add-article form .form-group {
    margin-bottom: 0;
}

/*--- --- RECIPES --- --- --- RECIPES --- --- RECIPES --- --- RECIPES --- --- RECIPES --- --- RECIPES --- */

#recipes {
    background-image: url("../img/food-bg.png");
    background-size: cover;
    height: 100%;
}

#recipes .container {
    margin-top: 50px;
}

.recipe-category-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    height: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.recipe-category-card:hover {
    transition: 1s, ease-in-out;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.recipe-category-card:hover .recipe-category-name {
    font-weight: bolder;
}

.recipe-category-image {
    height: 60%;
    object-fit: contain;
    display: block;
    margin: auto;
    max-width: 100%;
}

.recipe-category-name {
    text-align: center;
}

#recipes-list {
    border-radius: 10px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, .65);
    margin-bottom: 30px;
}

.preview-recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#recipes-list .row {
    max-height: 150px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 4px #a9a9a9;
}

#recipes-list .row:hover {
    background: #f8f8f8;
    box-shadow: 3px 3px 5px #a9a9a9;
}

#recipes-list .row:hover * {
    font-weight: bolder;
}

#recipes-block {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 40px;
}

/*--- --- WORKOUTS --- --- --- WORKOUTS --- --- WORKOUTS --- --- WORKOUTS --- --- WORKOUTS --- --- WORKOUTS --- */

#workouts {
    background-image: url("../img/workout-bg.png");
    background-size: cover;
    height: 100%;
}

#workout-exercises .detail-workout-set img {
    object-fit: contain;
}

.workout-content {
    background: rgba(233, 233, 233, 0.87);
    padding: 20px;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.workout-card {
    margin-left: 20px;
    margin-bottom: 20px;
    background: #C4C4C4;
    padding: 15px;
    border-radius: 10px;
}

.workout-card:hover {
    background: #b5b5b5;
}

.workout-card .workout-card-title {
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-bottom: 10px;
}

#workout-sort_by-selector {
    width: fit-content;
}

.star-icon::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../img/icons/star.png");
    display: inline-block;
    margin-right: 5px;
}

.star-icon-small::before {
    content: "";
    width: 10px;
    height: 10px;
    background-size: contain;
    background-image: url("../img/icons/star.png");
    display: inline-block;
    margin-right: 4px;
}

.detail-workout-set .desc {
    font-size: 14px;
    line-height: normal;
}

.rest {
    text-align: center;
    width: 100%;
    margin: 20px;
    color: blueviolet;
    font-size: larger;
    font-weight: 500;
}

.heart-icon::before {
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../img/icons/heart.png");
    display: inline-block;
    margin-right: 5px;
}

#workout-image {
    width: 100%;
}

#workout-complexity {
    text-align: right;
    float: right;
    width: fit-content;
}

.workout-card .workout-card-image {
    height: 120px;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

#workout-search {
    font-size: 16px;
    margin: 0;

}

.workout-card .desc {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*--- --- Sign --- --- --- Sign --- --- Sign --- --- Sign --- --- Sign --- --- Sign --- */
#sign .container {
    margin-top: 50px;
    overflow: auto;
}

.confirm_reg {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 399px;
    height: 40px;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    background: #A3B4CD;
}

.confirm_auth {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 221px;
    height: 80px;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 44px;
    background: #A3B4CD;
}

input[type=text], input[type=password], input[type=number], input[type=date] {
    font-family: Gothic A1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 44px;
    width: 100%;
    height: 44px;
    padding: 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f9f9f9;
}

.required:after {
    content: " *";
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.sign-content {
    background: rgba(233, 233, 233, 0.87);
    padding: 20px;
    max-height: 100%;
    overflow: auto;
}

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 5px;
}

#message p {
    padding: 5px 35px;
    font-size: 18px;
    line-height: initial;
    margin-bottom: 0 !important;
}

.valid {
    color: green;
    display: none;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
}

/*--- --- Profile --- --- --- Profile --- --- Profile --- --- Profile --- --- Profile --- --- Profile --- */

.picture {
    width: 100px;
    height: 80px;
    float: left;
    padding-right: 10px;
    align-items: center;
}

.txt {
    float: left;
    padding-right: 10px;
    align-items: center;
}

.profile-body-img {
    width: 100%;
}

#edit_button, #save_button, #delete_button {
    width: 100%;
    background: #A3B4CD;
}

#user-profile label {
    color: #818181;
    line-height: normal;
}

#user-profile .profile-content {
    background: #f3f3f3;
    padding: 20px;
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#user-profile input, #user-profile input[disabled] {
    margin: 0;
    height: auto;
    line-height: normal;
}

#user-profile input[disabled] {
    padding: 0;
}

#liked-workout-set .workout-card {
    margin-left: -15px;
}

/*--- CALCULATOR --- CALCULATOR --- CALCULATOR --- CALCULATOR --- CALCULATOR --- CALCULATOR --- CALCULATOR ---*/

#calculator {
    background-image: url("../img/calc-bg.jpg");
    background-size: cover;
    height: 100%;
}

#calculator .container {
    margin-top: 50px;
    padding: 20px;
}

#calculator .container > .row {
    border-radius: 10px;
    background: rgba(233, 233, 233, 0.87);
    padding: 20px;
}

#calculator .container .row {
    margin-bottom: 10px;
}

#add-ingredient-button {
    width: 100%;
    background: #A3B4CD;
    font-size: 22px;
}

#ingridient-selector {
    height: 100%;
    width: 100%;
}

#calculator-clear-button {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    padding: 7px;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
}

#calculator-clear-button:hover {
    transform: scale(1.05);
    transition: .5s;
}

#calculator #total-amount {
    margin-right: 10px;
}